<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/finalizacao-compra.css">
    <title>Finalização de Compra</title>

    

</head>
<body>
    <%- include('./partials/header') %>

    <section class="detalhes-do-item">
        <div class="title">
            <h1>Detalhes do item:</h1>
        </div>
        <div class="card">
            <div class="imagem">
                <img src="/produtos/<%= produto.imageUrl %>" alt="produto">
            </div>
            <div class="detalhes">
              
              <div class="titulo">
                  <span>Titulo:</span>
                  <span id="titulo">
                     <strong><%= produto.nome %></strong>
                  </span>
              </div>
              <div class="valor">
                  <span>Valor: </span>
                  <span> <%= formatarPreco(produto.preco) %></span>
              </div>
              
            </div>
        </div>
        
    </section>
    
      <section class="forma-de-pagamento">
          <div class="metodos">
              <div class="cartao">
                  <input type="radio">
                  <div class="card">
                      <div class="imagem">
                          <img src="/img/mastercard-logo.png" alt="master-card">
                      </div>
                      
                      <div class="banco">
                          <span> ***** ***** **** 0000</span>
                          <span>
                              Nubank
                          </span>
                          <span>Vencimento DD/MM/AAAA</span>
                      </div>
                  </div>
              </div>
              <div class="cartao">
                  <input type="radio">
                  <div class="card">
                      <div class="imagem">
                          <img src="https://logodownload.org/wp-content/uploads/2016/10/visa-logo.png" alt="visa">
                      </div>
                    
                      <div class="banco">
                          <span> ***** ***** **** 0000</span>
                          <span>
                              Visa
                          </span>
                          <span>Vencimento DD/MM/AAAA</span>
                      </div>
                  </div>
              </div>
          </div>
          <a href="/compra/sucesso">Finalizar Pedido</a>
      </section>

     
      <%- include('./partials/footer') %>
</body>
</html>