<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Página Inicial</title>
</head>
<body>
    <%- include('./partials/header') %>
    
    <section class="car">
        <div class="carrossel" id="carrossel">
            <span type="button" onclick="Chevleft()" class="btn-carrossel">
                <i class='bx bxs-left-arrow'></i>
            </span>
            <div class="carrosel-img">
                <img src="https://www.analyticsinsight.net/wp-content/uploads/2022/02/Crypto-Fall-is-Pulling-NFTs-by-Leg-Will-they-Sustain-the-Blow.jpg" class="currentimage" id="currentimage">
            </div>
            <span type="button" onclick="Chevright()" class="btn-carrossel">
                <i class='bx bxs-right-arrow'></i>
            </span>
        </div>
    </section>
    <main> 
        <% produtos.forEach(produto=> { %>
        <section class="buy">
           
            <div class="product">
                <div class="produto-details">
                    <img src='/produtos/<%= produto.imageUrl %>' center no-repeat;> 
                    <div class="informations">
                        <p><strong><%= produto.nome.toUpperCase() %></strong></p >
                            <p class="valor"><%= formatarPreco(produto.preco) %></p>
                    </div>
                    
                </div>
                   
                
            </div>
            <div class="details2">
                <div class="artista"><p> Feito por: <strong></strong><%= produto.artista.toUpperCase() %></p></div>
                <div class="description-container">
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur iure eveniet ad ea temporibus perspiciatis iste delectus, soluta nisi, 
                </div>
                <div class="rotas">
                    <ul>
                        <li class="info-button"><a href="/produtos/detalhes/:id"><i class='bx bx-info-circle' ></i></a></li>
                        <li id="compre" ><a href="/finalizar" >Compre já</a></li>
                    </ul>
                </div>
            </div>
            </div>
            
        </section>
      <% }) %>
    </main>
    <%- include('./partials/footer') %>
        <script src="/utils/carrossel.js"></script>
</body>
</html>