<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/listagem-produto.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Produtos</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="cards">
                <% produtos.forEach(produto=> { %>
                    <div class="card" style="background:url('/produtos/<%= produto.imageUrl %>') center no-repeat;">
                        <div class="card_content">
                            <div class="card_title">
                                <h3><%= produto.nome %></h3>

                                <span>30 <i class='bx bxs-heart'></i></span>

                            </div>
                            <span class="card_subtitle">
                                <strong> by <%= produto.artista %> </strong>
                            </span>
                            <div class="payment">
                                <span class="preco">
                                    <%= formatarPreco(produto.preco) %>
                                </span>
                                <span class="carrinho_comprar">
                                    <i class='bx bxs-cart-add'></i>
                                    <span class="comprar">
                                        <strong>comprar</strong>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
            <% }) %>

        </main>
        <%- include('./partials/footer') %>
            <script src="../../scripts/like.js"></script>
            <script src="../utils/subir.js"></script>
</body>

</html>