<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/produto-interna.css">
    <title>Detalhes</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="produto">
                <img src='/produtos/<%= produto.imageUrl %>'
                    alt="produto">

                <div class="title">
                    <h1><%= produto.nome %></h1>
                    <h3>by <%= produto.artista %></h3>
                </div>
                <div class="price">
                    <span><%= formatarPreco(produto.preco) %></span>
                </div>

                <button id="btn-carrinho">Adicionar ao carrinho</button>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>